* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    max-width: 1200px;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
}

.header {
    background: black;
    display: flex;
    flex-flow: column nowrap;
}
    .h-top {
        background: #2d4059;
        display: flex;
        flex-flow: row nowrap;
        height: 100px;
        align-items: center;
        }
            .logo{
                background: rgb(255, 0, 0);
                flex: 1 1 auto;
                height: 30px;
            }
            .nav{
                background: rgb(255, 0, 0);
                flex: 5 1 auto;
                height: 30px;
            }
            .social{
                background: rgb(255, 0, 0);
                flex: 1 1 auto;
                height: 30px;
            }
        .h-low{
            background: #f07b3f;
        }
        h1{
            background: #fed460;
            }

.section {
    display: flex;
    background-color: #000;
}
    .articles{
        background: #4e4e6a;
        flex: 2 1 auto;
        display: flex;
        flex-flow: row wrap;
    }
        .article{
            background: #1f6cb0;
            flex: 1 1 40%;
        }
        .a-low{
                background: #70a3c4;
                flex: 1 1 100%;
        }
        .aside{
            background: #f73f52;
            flex: 1 1 auto;
        }
        .aside-div{
            background: #feea85;;
        }
    .footer {
        background: #000;
        display: flex;
        justify-content: center;
    }
        .foot-div{
            background: rgb(0, 72, 228);
            width: 300px;
        }

@media all and (max-width: 800px){
    .h-top {
        flex-direction: row;
        height: auto;
    }
    .section {
        flex-direction: column;
    }
    .aside {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .foot-div {
        flex: 1 1 100%;
    }
}

@media all and (max-width: 600px){
    .h-top {
        flex-direction: column;
        display: flex;
        align-items: stretch;
    }
    .section {
        flex-direction: column;
    }
    .aside {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}